<div class="col-md-offset-1 main sidebar main-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle action-type-btn" data-toggle="dropdown" aria-expanded="false">{{ vm.currentMethod }}
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="method in vm.methods" ng-click="vm.setMethod(method)"><a href="#">{{ method }}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" placeholder="Enter request URL here" class="form-control" aria-label="..." ng-model="uri">
            </div>
            <div>
                <button type="button" class="btn btn-info custom-btn col-lg-1" ng-click="send()">Send</button>
                <button type="button" class="btn btn-danger custom-btn" ng-click="reset()">Reset</button>
            </div>
            <div class="status-container">
                <span class="label label-success">{{ vm.statusText }}</span>
                <span class="label label-default">TIME</span>
            </div>
        </div>
        <div class="col-lg-6 hide" style="width: {{ windowWidth }}px" id="markdown-response">
            <textarea id="codemirror"></textarea>
        </div>
        <pre id="json-response"></pre>
    </div>
</div>