<div>
    <div class="collapse" id="collapseHeadersContainer">
        <div class="well">
            <div class="col-md-offset-1 headers-area">
                <form class="form-inline">
                    <div class="form-group">
                        <div ng-repeat="(key, header) in request.headers">
                            <a><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="deleteHeader(key)"></span></a>
                            <input type="text" class="form-control" placeholder="Header" value="{{ header.name }}" ng-model="header.name">
                            <input type="text" class="form-control" placeholder="Value" value="{{ header.value }}" ng-model="header.value">
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addNewHeader()"></span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>