.btn,
.well,
.label,
.dropdown-menu,
.form-control {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.action-area {
    margin: 10px 0px 10px 0px;
    min-width: 130px;
    padding-left: 0px;
}

.action-btn {
    width: 75px;
}

.status-area {
    margin: 0px 10px 13px -15px;
}

.headers-button {
    margin-right: 5px;
    min-width: 100px;
}

.headers-area {
    margin: 0px 35px;
}

.action-type-btn {
    min-width: 100px;
    background-color: #e6e6e6;
}

.main-container {
    background-color: #ffffff;
    margin-top: 5px;
}

.send-button-area {
    min-width: 150px;
    padding-left: 0px;
}

.time {
    margin-bottom: 20px !important;
}

.row {
    margin-left: -40px;
}

pre {
    -webkit-user-select: text;
    padding: 0px 15px;
    background-color: transparent;
}

.well {
    margin-bottom: 8px;
}

.CodeMirror {
    height: 100px;
    border: 1px solid #E7E7E7;
}

#json-response {
    border: 1px solid #E7E7E7;
    border-radius: 0px !important;
    background-color: #ffffff;
}

.col-lg-12 {
    padding-right: 10px;
    padding-left: 0px !important
}

#attributes-container{
    padding-left: 0px;
    padding-right: 11px;
}

.centered-logo {
  position: fixed;
  width: 323px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  z-index: -9999;
}