.action-area {
    margin: 15px 0px 10px 0px;
    min-width: 130px;
    padding-left: 0px;
}

.action-btn {
    width: 75px;
}

.status-area {
    margin: 0px 10px 10px 0px;
}

.headers-button {
    margin-right: 5px;
}

.headers-area {
    margin: 0px 35px;
}

.action-type-btn {
    min-width: 100px;
    background-color: #e6e6e6;
}

.main-container {
    background-color: #ffffff;
    margin-top: 5px;
}

.send-button-area {
    min-width: 150px;
}

.time {
    margin-bottom: 20px !important;
}

.row {
    margin-left: -40px;
}

pre {
    -webkit-user-select: text;
    padding: 0px 15px;
    background-color: transparent;
}

.well {
    margin-bottom: 3px;
}

.CodeMirror {
    height: 100px;
    border: 1px solid #E7E7E7;
}

#json-response {
    border: 1px solid #E7E7E7;
    border-radius: 0px !important;
}

body,
html {
    height: 100%;
}

nav.sidebar,
.main {
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main {
    padding: 10px 10px 0 10px;
}

@media (min-width: 765px) {
    .main {
        position: absolute;
        width: calc(100% - 70px);
        margin-left: 70px;
        float: right;
    }
    nav.sidebar:hover + .main {
        margin-left: 200px;
    }
    nav.sidebar.navbar.sidebar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    nav.sidebar .navbar-brand,
    nav.sidebar .navbar-header {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar a {
        padding-right: 13px;
    }
    nav.sidebar .navbar-nav > li:first-child {
        border-top: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav > li {
        border-bottom: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    nav.sidebar .navbar-collapse,
    nav.sidebar .container-fluid {
        padding: 0 0px 0 0px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    nav.sidebar {
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0px;
        z-index: 9999;
    }
    nav.sidebar li {
        width: 100%;
    }
    nav.sidebar:hover {
        margin-left: 0px;
    }
    .forAnimate {
        opacity: 0;
    }
}

@media (min-width: 1330px) {
    .main {
        width: calc(100% - 230px);
        margin-left: 230px;
    }
    nav.sidebar {
        margin-left: 0px;
        float: left;
    }
    nav.sidebar .forAnimate {
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate {
    opacity: 1;
}

section {
    padding-left: 15px;
}

.navbar-brand {
    text-align: -webkit-center !important;
}

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}